<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Builder Version</key>
	<string>534.57.2</string>
	<key>CFBundleDisplayName</key>
	<string>thinkContext</string>
	<key>CFBundleIdentifier</key>
	<string>org.thinkcontext.safari.thinkcontext</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>52428800</real>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jquery-2.0.3.min.js</string>
				<string>jquery-ui-1.9.2.custom.min.js</string>
				<string>mutation-summary.js</string>
				<string>jquery.mutation-summary.js</string>
				<string>ejs_production.js</string>
				<string>utils.js</string>
				<string>reverse.js</string>
				<string>bing-search.js</string>
				<string>congress.js</string>
				<string>duckduckgo.js</string>
				<string>expedia.js</string>
				<string>facebook.js</string>
				<string>google-maps.js</string>
				<string>google-place-page.js</string>
				<string>google-search.js</string>
				<string>hcom.js</string>
				<string>imdb.js</string>
				<string>netflix.js</string>
				<string>rotten.js</string>
				<string>kayak.js</string>
				<string>orbitz.js</string>
				<string>priceline.js</string>
				<string>tripadvisor.js</string>
				<string>twitter.js</string>
				<string>wikipedia.js</string>
				<string>yahoo-search.js</string>
				<string>yelp.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>jquery-ui.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Inserts contextual, politically progressive information into your web browsing</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://www.thinkcontext.org/release/safari/updates.plist</string>
	<key>Website</key>
	<string>http://www.thinkcontext.org/</string>
</dict>
</plist>
