<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Builder Version</key>
	<string>534.55.3</string>
	<key>CFBundleDisplayName</key>
	<string>Think Context</string>
	<key>CFBundleIdentifier</key>
	<string>org.thinkcontext.safari.thinkcontext</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.78</string>
	<key>CFBundleVersion</key>
	<string>0.78</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>52428800</real>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jquery-1.7.1.min.js</string>
				<string>utils.js</string>
				<string>jquery-ui-1.8.16.custom.min.js</string>
				<string>google-search.js</string>
				<string>reverse.js</string>
				<string>bing-search.js</string>
				<string>yahoo-search.js</string>
				<string>google-finance-page.js</string>
				<string>google-place-page.js</string>
				<string>bg-utils.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>jquery-ui.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Inserts contextual, politically progressive information into your web browsing</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://www.thinkcontext.org/release/safari/updates.plist</string>
	<key>Website</key>
	<string>http://www.thinkcontext.org/</string>
</dict>
</plist>
