<br>
Boycott campaigns from <a href="http://boycottplus.org/" target="_blank">boycottplus.org</a>.

<% if(r.length > 0){ %>
<br>
<table>
<%    var d;
for(var i=0;i<r.length;i++){ 
d = JSON.parse(r[i].data); 

%>
<tr>
<td><input type="checkbox" checked="true" class="bpCheck" url="<%= r[i].url %>" id="bp<%= i %>"></td>
<td><%= link_to(d.name,d.sponsorUrl,{target: '_blank'}) %></td>
</tr>
<% } %>
</table>
<% } %>